* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, black, 70%, #3a3318);
  background-repeat: no-repeat;
  height: 100vh;
  display: block;
  align-items: center;
  background-attachment: fixed;
}

h1 {
  width: 78%;
  text-align: center;
  color: #bead12;
  display: block;
  font-size: 40px;
  background-image: linear-gradient(to bottom, black,2%,#3a3318, 96%, black);
  border: 2px solid #706527;
  border-radius: 10px;
  position: center;
  margin: 25px auto;
  padding: 20px;
}

h2 {
  width: 78%;
  text-align: center;
  font-size: 25px;
  display: block;
  position: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

input {
  width: 50%;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  position: center;
  background-color: #d8c062;
  color: white;
  border-radius: 5px;
}

button {
  display:block;
  position: center;
  margin: 0 auto;
  width: 50%;
  margin-top: 15px;
  background-color:#2c2a13;
  color: #ffe819;
  margin-bottom: 20px;
  border: 2px solid rgb(105, 97, 69);
  border-radius: 5px;
}

button:hover {
  background-color:#bead12;
  color: #ffe819;
}

#output {
  width: 50%;
  text-align: center;
  color: #bead12;
  display: block;
  font-size: 15px;
  background-image: linear-gradient(to bottom, black,2%,#3a3318, 96%, black);
  border: 2px solid #706527;
  border-radius: 10px;
  position: center;
  margin: 0 auto;
  margin-top: 25px;
}

img {
  display: block;
  margin: 25px auto;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid #706527;
}

#input-container {
  width: 65%;
  text-align: center;
  color: #bead12;
  display: block;
  font-size: 25px;
  background-image: linear-gradient(to bottom, black,2%,#3a3318, 96%, black);
  border: 2px solid #706527;
  border-radius: 10px;
  position: center;
  margin: 0 auto;
  margin-top: 25px;
}

footer {
  text-align: center;
  color: #bead12;
  font-size: 10px;
}

hr {
  margin-top: 15px;
  border: 1px solid #706527;
}